.custom-row{
    width: 95%;
    margin: 0 auto;
}

.cycle-slideshow {
    width: 100%;
    margin-top: 40px;
    position: relative;
    margin-bottom: 50px;
    section.corner-continue-bottom{
        position: absolute;
        bottom: -50px;
        display: block;
        z-index: 999;
        a.icon-arrow-continue{
            background: url('../images/_visuels_dyns/arrow-brown-bottom-icon.png');
            height: 66px;
            width: 100px;
            position: absolute;
            left:0px;
            top: 40px;
            bottom: 0px;
            right: 0px;
            display: 9999;
            display: block;
            margin: auto auto;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            &:hover{
                background: url('../images/_visuels_dyns/arrow-brown-bottom-icon-hover.png');
                top: 50px;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    div {
        min-width: 100%;
        position: relative;
        img {
            min-width: 100%;
        }
        &.text-slider{
            position: absolute;
            top: 13%;
            left: 63%;
            h2 {
                font-family: $Mont;
                font-size: 56px;
                font-weight: 300;
                text-transform: uppercase;
                line-height: 56px;
            }
            h3 {
                font-family: $Geo;
                margin-top: 15px;
                font-size: 16px;
                font-style: italic;
                line-height: 24px;
            }
        }
    }
}

//============================================= MEDIAS QUERIES

@include breakpoint(medium) {
    .cycle-slideshow div.text-slider h2 {
        font-size: 20px;
        line-height: 22px;
    }
    .cycle-slideshow div.text-slider h3{
        font-size: 14px;
        line-height: 16px;
    }
}

@include breakpoint(large) {
    .cycle-slideshow div.text-slider h2 {
        font-size: 26px;
        line-height: 26px;
    }
    .cycle-slideshow div.text-slider h3{
        font-size: 16px;
        line-height: 18px;
    }
}
@include breakpoint(xlarge) {
    .cycle-slideshow div.text-slider h2 {
        font-size: 40px;
        line-height: 42px;
    }
}

@include breakpoint(xxlarge) {
    .cycle-slideshow div.text-slider h2 {
        font-size: 48px;
        line-height: 50px;
    }
    .cycle-slideshow div.text-slider h3{
        font-size: 20px;
        line-height: 24px;
    }
}
